/bucket/.terraform
/bucket/.terraform.lock.hcl
/bucket/terraform.tfstate
/bucket/terraform.tfstate
/bucket/terraform.tfstate.backup


/control-plane/.terraform
/control-plane/.terraform.lock.hcl

/config_cloud_control_plane.yaml
/config_cloud_jump_on.yaml
/config_cloud_worker_plane.yaml

.vscode

/cluster/.terraform.lock.hcl
/cluster/.terraform.lock.hcl
/cluster/.terraform

/helper.txt